nav {
    display: flex;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-ferdous{
    font-size: 45px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}

.text-praimary{
    color: #FD630A;
}

nav > ul{
    display: flex;
    vertical-align: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
li > .button-primary{
   background: #FD630A; 
   border-radius: 5px;
   border: 0;
   font-size: 20px;
   font-weight: bold;
   color: white;
   padding: 15px 35px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
.header{
    background-color:#FFF8F3;
 
    background-repeat: no-repeat;
    background-position: right;
    
}

.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-primary{
    background: #FD630A; 
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px 35px;
    margin-right: 30px;
    margin-top: 10px;
}

.banner .profile-picture{
    width: 500px;
    border: 20px #FD630A;
    border-radius: 160px;
 

}

.banner-greeting{
    font-size:45px;
    color: #474747;
}

.banner-title{
    font-size: 85px;
    font-style: solid;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px
}

.pra{
   color: gray;
}

.banner >.banner-pragraph{
    color: gray;
}
.b2 .p{
    color: gray;
    max-width: 580px;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 0 120px;
}
.ti{
    color:#181818;
    font-size: 35px;
    font-weight: bold;
    font-style: solid;
    line-height: normal;
    text-align: center;
}

.section-description{
    color: #757575;
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 10px;
}

.about-info-c{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
    padding: 20px;
}